<%- include('../layout/header') -%>

<div class="row expanded column top-carousel top-carousel--nopadding">
    <div class="jcarousel jcarousel--home">
        <ul>
            <% for(let i of info.slideArticles) { %>
            <li>
                <a href="article/<%= i.id %>">
                    <div>
                        <img src="<%= imgHost + i.logo %>?imageView2/1/w/640/h/427" srcset="<%= imgHost + i.logo %>?imageView2/1/w/640/h/427 1x, <%= imgHost + i.logo %> 1.5x">
                    </div>
                    <b class="lead"><%= i.title %></b>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <a href="#" class="jcarousel-control-prev material-icons mi-keyboard_arrow_left"></a>
    <a href="#" class="jcarousel-control-next material-icons mi-keyboard_arrow_right right"></a>
    <div class="jcarousel-pagination"></div>
</div>

<div class="hot-bar-wrap clearfix hot-bar-wrap--garden">
    <div class="top-bar hot-bar clearfix">
        <ul class="dropdown menu index" data-dropdown-menu>
            <li class="menu-text">产业资讯</li>
            <li>
                <a href="/garden/articles/">全部</a>
            </li>
            <% for(let i of info.categories) { %>
            <li>
                <a href="articles/<%= i.id %>"><%= i.name %></a>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<% for(let key of Object.keys(info.articles)) { %>
<div class="row expanded article-mix">
    <div class="large-4 medium-12 columns">
        <hgroup class="tourboard__title tourboard__title--<%= key % 7 %>">
            <a href="articles/<%= key %>" class="masonry-item masonry-item--title masonry-item--index">
                <h3><%= info.categories.find(x => x.id === key).name %></h3>
                <i class="material-icons mi-arrow_forward"></i>
            </a>
        </hgroup>
        <a class="article-mix__top" href="detail_cn_article_2.html">
            <img src="<%= imgHost + info.articles[key][0].logo %>" />
            <h4><%= info.articles[key][0].title %></h4>
            <p><%= info.articles[key][0].feature %></p>
        </a>
    </div>
    <div class="large-8 medium-12 columns article-mix__sub">
        <div class="row expanded small-up-1 medium-up-2" data-equalizer data-equalize-on="medium">
            <% for(let i = 1; i < info.articles[key].length; i++){ %>
            <div class="column">
                <a class="article-item" href="article<%= info.articles[key][i].id %>" data-equalizer-watch>
                    <figure style="background-image:url('<%= imgHost + info.articles[key][i].logo %>"></figure>
                    <h4><%= info.articles[key][i].title %></h4>
                    <p><%= info.articles[key][i].feature %></p>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% } %>

<div class="row column bottom-search">
    <h3>Got no ideal? Find more here</h3>
    <div class="input-group">
        <input class="input-group-field" type="text">
        <div class="input-group-button">
            <!--<a class="button">Primary Action</a>
            <a class="dropdown button arrow-only">
                <span class="show-for-sr">Show menu</span>
            </a>-->
            <input type="submit" class="button" value="Search">
        </div>
    </div>
</div>

<%- include('../layout/footer') -%>