<%- include('../layout/header') -%>
<% if(info.slideArticles) { %>
<div class="row expanded column top-carousel top-carousel--nopadding">
    <div class="jcarousel jcarousel--home">
        <ul>
            <% for(let i of info.slideArticles) { %>
            <li>
                <a href="/articles/<%- i.id %>">
                    <div>
                        <img src="<%- imgHost + i.logo %><%- imgSlideStyle %>" srcset="<%- imgHost + i.logo %><%- imgSlideStyle %> 1x, <%- imgHost + i.logo %> 1.5x">
                    </div>
                    <b class="lead"><%- i.title %></b>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <a href="#" class="jcarousel-control-prev material-icons mi-keyboard_arrow_left"></a>
    <a href="#" class="jcarousel-control-next material-icons mi-keyboard_arrow_right right"></a>
    <div class="jcarousel-pagination"></div>
</div>
<% } %>
<div class="hot-bar-wrap clearfix hot-bar-wrap--garden">
    <div class="top-bar hot-bar clearfix">
        <ul class="dropdown menu index" data-dropdown-menu>
            <li class="menu-text"><%- info.channelName%></li>
            <li>
                <a href="/garden/articles/">全部</a>
            </li>
            <% for(let i of info.categories) { %>
            <li>
                <a href="/channel/categories/<%- i.id %>"><%- i.name %></a>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<% for(let key of Object.keys(info.articles)) { %>
<div class="row expanded article-mix">
    <div class="large-4 medium-12 columns">
        <hgroup class="tourboard__title tourboard__title--<%- key % 7 %>">
            <a href="/channel/categories/<%- info.categories.find(x => x.id === key).id %>" class="masonry-item masonry-item--title masonry-item--index">
                <h3><%- info.categories.find(x => x.id === key).name %></h3>
                <i class="material-icons mi-arrow_forward"></i>
            </a>
        </hgroup>
        <% if(info.articles[key][0]) { %>
        <a class="article-mix__top" href="/articles/<%- info.articles[key][0].id %>">
            <img src="<%- imgHost + info.articles[key][0].logo %><%- imgListStyle %>" />
            <h4><%- info.articles[key][0].title %></h4>
            <p><%- info.articles[key][0].abstract %></p>
        </a>
        <% } %>
    </div>
    <div class="large-8 medium-12 columns article-mix__sub">
        <div class="row expanded small-up-1 medium-up-2" data-equalizer data-equalize-on="medium">
            <% for(let i = 1; i < info.articles[key].length; i++){ %>
            <div class="column">
                <a class="article-item" href="/articles/<%- info.articles[key][i].id %>" data-equalizer-watch>
                    <figure style="background-image:url('<%- imgHost + info.articles[key][i].logo %><%- imgListStyle %>"></figure>
                    <h4><%- info.articles[key][i].title %></h4>
                    <p><%- info.articles[key][i].abstract %></p>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% } %>

<%- include('../layout/footer') -%>