<%- include('../layout/header') -%>

<div class="fgarden"></div>

<% if(info.slideArticles) { %>
<div class="slick-wrap slick-fix640 clearfix">
    <div class="fcarousel">
        <% for(let i of info.slideArticles) { %>
        <div class="fcarousel__item">
            <a target="_blank" href="/articles/<%- i.id %>">
                <div>
                    <img src="<%- imgHost + i.logo %><%- imgSlideStyle %>" srcset="<%- imgHost + i.logo %><%- imgSlideStyle %> 1x, <%- imgHost + i.logo %> 1.5x" />
                </div>
                <b class="lead<% if (i.price) { %> fcarousel__price<% } %>"><%- i.title %></b>
                <% if (i.price) { %><span><sup>￥</sup><strong><%- i.price %></strong> <small>from</small></span><% } %>
            </a>
        </div>
        <% } %>
    </div>
</div>
<% } %>
<div class="hot-bar-wrap clearfix hot-bar-wrap--garden">
    <div class="top-bar hot-bar clearfix">
        <ul class="dropdown menu index" data-dropdown-menu>
            <li class="menu-text"><%- info.channelName%></li>
            <li>
                <a href="/garden/articles/">全部</a>
            </li>
            <% for(let i of info.categories) { %>
            <li>
                <a target="_blank" href="/channel/categories/<%- i.id %>"><%- i.name %></a>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<% for(let key of Object.keys(info.articles)) { %>
<div class="row expanded article-mix">
    <div class="large-4 medium-12 columns">
        <hgroup class="tourboard__title tourboard__title--<%- key % 7 %>">
            <a target="_blank" href="/channel/categories/<%- info.categories.find(x => x.id === key).id %>" class="masonry-item masonry-item--title masonry-item--index">
                <h3><%- info.categories.find(x => x.id === key).name %></h3>
                <i class="material-icons mi-arrow_forward"></i>
            </a>
        </hgroup>
        <% if(info.articles[key][0]) { %>
        <a target="_blank" class="article-mix__top" href="/articles/<%- info.articles[key][0].id %>">
            <img src="<%- imgHost + info.articles[key][0].logo %><%- imgListStyle %>" />
            <h4><%- info.articles[key][0].title %></h4>
            <p><%- info.articles[key][0].abstract %></p>
        </a>
        <% } %>
    </div>
    
    <div class="large-8 medium-12 columns article-mix__sub">
        <% if(info.articles[key].length > 1) { %>
        <div class="row expanded small-up-1 medium-up-2" <% if(info.articles[key].length > 3) { %>data-equalizer data-equalize-on="medium"<% } %>>
            <% for(let i = 1; i < info.articles[key].length; i++){ %>
            <div class="columns">
                <a target="_blank" class="article-item" href="/articles/<%- info.articles[key][i].id %>" data-equalizer-watch>
                    <figure style="background-image:url('<%- imgHost + info.articles[key][i].logo %><%- imgListStyle %>"></figure>
                    <h4><%- info.articles[key][i].title %></h4>
                    <p><%- info.articles[key][i].abstract %></p>
                </a>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>    
</div>
<% } %>

<%- include('../layout/footer') -%>