<%- include('../layout/header') -%>

<div class="fgarden"></div>

<div class="slick-wrap slick-full clearfix">
    <div class="fcarousel">
        <% for(let i of slidesData) { %>
        <div class="fcarousel__item">
            <a href="<%- i.url %>">
                <div>
                    <img src="<%- i.img %><%- imgSlideOneStyle %>" />
                </div>
                <b class="lead<% if (i.price) { %> fcarousel__price<% } %>"><%- i.title %></b>
                <% if (i.price) { %><span><sup>￥</sup><strong><%- i.price %></strong> <small>起</small></span><% } %>
            </a>
        </div>
        <% } %>
    </div>
</div>

<div class="hot-bar-wrap clearfix hot-bar-wrap--garden">
    <div class="top-bar hot-bar clearfix">
        <ul class="dropdown menu index" data-dropdown-menu>
            <li class="menu-text">产业资讯</li>
            <% for(let category of info.categories) { %>
            <li>
                <a href="<%- '/channel/categories/' + category.id %>"><%- category.name %></a>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<% if(info.articles) { %>
<div class="row expanded article-mix">
    
    <div class="large-4 medium-12 columns">
        <a class="article-mix__top" href="/articles/<%- info.articles[0].id %>">
            <img src="<%- imgHost %><%- info.articles[0].logo%><%- imgListStyle %>" />
            <h4><%- info.articles[0].title %></h4>
            <p><%- info.articles[0].content %></p>
        </a>
    </div>
    <div class="large-8 medium-12 columns article-mix__sub">
        <div class="row expanded small-up-1 medium-up-2" data-equalizer data-equalize-on="medium">
            <% for(var i = 1; i < info.articles.length; i++) { %>
            <div class="column">
                <a class="article-item" href="/articles/<%- info.articles[i].id %>" data-equalizer-watch>
                    <figure style="background-image:url('<%- imgHost %><%- info.articles[i].logo %><%- imgListStyle %>')"></figure>
                    <h4><%- info.articles[i].title %></h4>
                    <p><%- info.articles[i].abstract %></p>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% } %>
<div class="row expanded column small-up-1 medium-up-3 large-up-4 xxlarge-up-5 tourboard-wrap" data-equalizer data-equalize-on="medium" data-equalize-by-row="true" id="listEqualizer">
    <% for(let [key, value] of blocks.entries()) { %>
        
        <div class="column tourboard__title tourboard__title--<%- key % 7 %>">
            <a href="/garden/<%- value.type == 'product'? 'products': (value.type == 'project')? 'projects':'' %>/<%- value.id %>" class="masonry-item masonry-item--index" data-equalizer-watch>
                <h3><%- value.name %></h3>
                <cite></cite>
                <i class="material-icons mi-arrow_forward"></i>
            </a>
        </div>
        <% for(let v of value.value) { %>
        <div class="column">
            <a href="/<%- value.type == 'product'? 'products': (value.type == 'project')? 'projects':'' %>/<%- v.id %>" class="masonry-item masonry-item--index" data-equalizer-watch>
                <img src="<%- imgHost %><%- v.logo %><%- imgListStyle %>" />
                <b>
                    <%- v.name %>
                </b>
                <p class="with-price"><%= v.feature %></p>
                <span>￥<strong><%= v.minPrice %></strong> <small>起</small></span>
            </a>
        </div>
    <% } %>
    <% } %>
</div>


<%- include('../layout/footer') -%>