<%- include('../layout/header') -%>

<div class="orbit orbit--garden" role="region" aria-label="Favorite Space Pictures" data-orbit data-timer-delay="50000000">
    <ul class="orbit-container">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        <% for(let i of slidesData) { %>
        <li class="orbit-slide">
            <div class="figure" style="background-image:url('<%= i.img %>')"></div>
            <h3 class="orbit-caption"><span><%= i.title %></span><a href="<%= i.url %>" class="button large">查看详情</a></h3>
        </li>
        <% } %>
    </ul>
    <nav class="orbit-bullets">
        <% for(let i=0; i<slidesData.length; i++) { %>
        <button class="<%= i == 0 ? 'is-active' : '' %>" data-slide="<%= i %>"><span class="show-for-sr"><%= slidesData[i].title %></span></button>
        <% } %>
    </nav>
</div>

<div class="hot-bar-wrap clearfix hot-bar-wrap--garden">
    <div class="top-bar hot-bar clearfix">
        <ul class="dropdown menu index" data-dropdown-menu>
            <li class="menu-text">产业资讯</li>
            <% for(let category of info.categories) { %>
            <li>
                <a href="<%= '/channel/categories/' + category.id %>"><%= category.name %></a>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<% if(console.log(info.articles)) { %>
<div class="row expanded article-mix">
    
    <div class="large-4 medium-12 columns">
        <a class="article-mix__top" href="/articles/<%= info.articles[0].id %>">
            <img src="<%= imgHost %><%= info.articles[0].logo%>" />
            <h4><%= info.articles[0].title %></h4>
            <p><%= info.articles[0].content %></p>
        </a>
    </div>
    <div class="large-8 medium-12 columns article-mix__sub">
        <div class="row expanded small-up-1 medium-up-2" data-equalizer data-equalize-on="medium">
            <% for(var i = 1; i < info.articles.length; i++) { %>
            <div class="column">
                <a class="article-item" href="/articles/<%= info.articles[0].id %>" data-equalizer-watch>
                    <figure style="background-image:url('<%= imgHost %><%= info.articles[i].logo %>')"></figure>
                    <h4><%= info.articles[i].title %></h4>
                    <p></p>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% } %>
<div class="row expanded column small-up-1 medium-up-3 large-up-4 xxlarge-up-5 tourboard-wrap" data-equalizer data-equalize-on="medium" data-equalize-by-row="true" id="listEqualizer">
    <% for(let [key, value] of blocks.entries()) { %>
        
        <div class="column tourboard__title tourboard__title--<%= key % 7 %>">
            <a href="/garden/<%= value.type == 'product'? 'products': (value.type == 'project')? 'projects':'' %>/<%= value.id %>" class="masonry-item masonry-item--index" data-equalizer-watch>
                <h3><%= value.name %></h3>
                <cite></cite>
                <i class="material-icons mi-arrow_forward"></i>
            </a>
        </div>
        <% for(let v of value.value) { %>
        <div class="column">
            <a href="/<%= value.type == 'product'? 'products': (value.type == 'project')? 'projects':'' %>/<%= v.id %>" class="masonry-item masonry-item--index" data-equalizer-watch>
                <img src="<%= imgHost %><%= v.logo %>" />
                <b>
                    <%= v.name %>
                </b>
                <p class="with-price"><%= v.feature %></p>
                <span>￥<strong><%= v.minPrice %></strong> <small>起</small></span>
            </a>
        </div>
    <% } %>
    <% } %>
</div>


<%- include('../layout/footer') -%>