<%- include('../layout/header') -%>

<div class="fgarden"></div>

<% if(info.slideProducts) { %>
<div class="slick-wrap slick-fix640 clearfix">
    <div class="fcarousel">
        <% for(let i of info.slideProducts) { %>
        <div class="fcarousel__item">
            <a target="_blank" href="/products/<%- i.productId %><%- i.source? '/' + i.source:'' %>">
                <div>
                    <img src="<%- imgHost + i.logo %><%- imgSlideStyle %>" srcset="<%- imgHost + i.logo %><%- imgSlideStyle %> 1x, <%- imgHost + i.logo %> 1.5x" />
                </div>
                <b class="lead<% if (i.minPrice) { %> fcarousel__price<% } %>"><%- i.name %></b>
                <% if (i.minPrice) { %><span><sup>￥</sup><strong><%- i.minPrice %></strong> <small>from</small></span><% } %>
            </a>
        </div>
        <% } %>
    </div>
</div>
<% } %>

<div class="hot-bar-wrap clearfix">
    <div class="top-bar hot-bar clearfix">
        <ul class="dropdown menu index" data-dropdown-menu id="tagFilter">
            <li class="menu-text"><%- info.channelName %></li>
            <li>
                <a target="_blank" href="/garden/products/">全部</a>
            </li>
            <% for(let i of info.productTypes) { %>
            <li>
                <a target="_blank" href="/channel/productTypes/<%- i.id %>"><%- i.name %></a>
            </li>
            <% } %>
        </ul>
    </div>
</div>
<% if(info.products) { %>
<div class="masonry-wrap-outer clearfix">
    <div class="small-up-1 medium-up-3 large-up-4 xxlarge-up-5 masonry-wrap" id="masonryWrap">
        <% for(let i of info.products) { %>
        <div class="column">
            <a target="_blank" class="masonry-item" href="/products/<%- i.productId %><%- i.source? '/' + i.source:'' %>">
                <img src="<%- imgHost + i.logo %><%- imgListStyle %>" />
                <b>
                    <%- i.name %>
                </b>
                <em><%- i.feature %><br />
                </em>
                <span> ￥<strong>15678</strong> <small>起</small></span>
                <i class="small expanded button">查看详情</i>
            </a>
        </div>
        <% } %>
</div>
<% } %>

<!--div class="list-button row column clearfix">
    <a class="button large btnMore">显示更多商品</a>
</div-->


<%- include('../layout/footer') -%>