<%- include('../layout/header') -%>

<div class="row expanded column top-carousel top-carousel--nopadding">
    <div class="jcarousel jcarousel--home">
        <ul>
            <% for(let i of info.slideProducts) { %>
            <li>
                <a href="garden/product/<%= i.id %>">
                    <div>
                        <img src="<%= imgHost + i.logo %>?imageView2/1/w/640/h/427" srcset="<%= imgHost + i.logo %>?imageView2/1/w/640/h/427 1x, <%= imgHost + i.logo %> 1.5x">
                    </div>
                    <b class="lead" style="padding-right:7.5rem;"><%= i.name %></b>
                    <span style="display:block;"><sup>￥</sup><strong><%= i.minPrice %></strong> <small>起</small></span>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <a href="#" class="jcarousel-control-prev material-icons mi-keyboard_arrow_left"></a>
    <a href="#" class="jcarousel-control-next material-icons mi-keyboard_arrow_right right"></a>
    <div class="jcarousel-pagination"></div>
</div>

<div class="hot-bar-wrap clearfix">
    <div class="top-bar hot-bar clearfix">
        <ul class="dropdown menu index" data-dropdown-menu id="tagFilter">
            <li class="menu-text">苗木交易</li>
            <li>
                <a href="/garden/products/">全部</a>
            </li>
            <% for(let i of info.slideProducts) { %>
            <li>
                <a href="products/<%= i.id %>"><%= i.name %></a>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<div class="masonry-wrap-outer clearfix">
    <div class="small-up-1 medium-up-3 large-up-4 xxlarge-up-5 masonry-wrap" id="masonryWrap">
        <% for(let i of info.products) { %>
        <div class="column">
            <a class="masonry-item" href="detail_cn.html">
                <img src="<%= imgHost + i.logo %>" />
                <b>
                    <%= i.name %>
                </b>
                <em><%= i.feature %><br />
                </em>
                <span> ￥<strong>15678</strong> <small>起</small></span>
                <i class="small expanded button">查看详情</i>
            </a>
        </div>
        <% } %>
</div>

<!--div class="list-button row column clearfix">
    <a class="button large btnMore">显示更多商品</a>
</div-->

<div class="row column bottom-search">
    <h3>Got no ideal? Find more here</h3>
    <div class="input-group">
        <input class="input-group-field" type="text">
        <div class="input-group-button">
            <!--<a class="button">Primary Action</a>
            <a class="dropdown button arrow-only">
                <span class="show-for-sr">Show menu</span>
            </a>-->
            <input type="submit" class="button" value="Search">
        </div>
    </div>
</div>

<%- include('../layout/footer') -%>