<%- include('../layout/header') -%>
	
<script>
	var payargs = <%- JSON.stringify(payargs) %>;


	function onBridgeReady(){
	   WeixinJSBridge.invoke(
	       'getBrandWCPayRequest', payargs,
	       function(res){     
	           if(res.err_msg == "get_brand_wcpay_request：ok" ) {}     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
	       }
	   ); 
	}
	if (typeof WeixinJSBridge == "undefined"){
	   if( document.addEventListener ){
	       document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
	   }else if (document.attachEvent){
	       document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
	       document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
	   }
	}else{
	   onBridgeReady();
	}
    
</script>

<h1 class="row column">订单支付</h1>
<div class="row column">
    <div class="callout success">
        <h4>微信支付 总金额：￥<%= order.price %></h4>
        <p>产品：<%= product.name %> / 数量：<%= order.productList.number %> / 单价：￥<%= product.prices[order.productList.product_price_index].price %>
        </p>
    </div>
</div>

<%- include('../layout/footer') -%>