<%- include('../layout/header') -%>
<nav aria-label="您的位置:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="#">首页</a></li>
        <li>
            <span class="show-for-sr">当前: </span> 产品搜索列表
        </li>
    </ul>
</nav>

<h1 class="row column">旅游产品列表</h1>

<% if(data["lbs"].length > 0) { %>
<div class="hot-bar-wrap clearfix">
    <div class="top-bar hot-bar clearfix">
        <ul class="dropdown menu index" data-dropdown-menu id="tagFilter">
            <li class="menu-text">关键字筛选</li>
            <% for(var i=0; i<data["lbs"].length; i++) { %>
                <li><a data-id="<%= data["lbs"][i].id %>"><%= data["lbs"][i].lb %></a></li>
			<% } %>
        </ul>
    </div>
</div>
<% } %>

<% if(data["items"].length > 0) { %>
<div class="masonry-wrap-outer">
    <div class="small-up-1 medium-up-3 large-up-4 xxlarge-up-5 masonry-wrap" id="masonryWrap">
        <% for(var i = 0; i < data["items"].length; i++) { %>
        <div class="column">
            <a href="detail/<%= data["items"][i].id %>" class="masonry-item">
                <img src="<%= data["items"][i].img %>" />
                <b>
                    <%= data["items"][i].title %>
                </b>
                <span><small>最低</small> ￥<strong><%= data["items"][i].price %></strong></span>
                <i class="small expanded button">查看详情</i>
            </a>
        </div>
        <% } %>
    </data>        
</div>
<% } %>

<div class="list-button row column">
    <a class="button large btnMore">显示更多商品</a>
</div>

<div class="row column bottom-search">
    <h3>啥都没找到？再搜索搜索~</h3>
    <div class="input-group">
        <input class="input-group-field" type="text">
        <div class="input-group-button">
            <!--<a class="button">Primary Action</a>
            <a class="dropdown button arrow-only">
                <span class="show-for-sr">Show menu</span>
            </a>-->
            <input type="submit" class="button" value="搜索">
        </div>
    </div>
</div>
<%- include('../layout/footer') -%>