<%- include('../layout/header') -%>
<div id="diancan">
    <div class="row column" id="dishOrderB" data-bind="foreach:products">
        <div style="display: none;" data-bind="visible:true && (!$parent.toggleCart() ||  !!$parent.cartProducts[$index()])">
            <div class="article-item article-item--dish--b clearfix">
                <figure>
                        <img data-bind="attr: { src: imgHost + logo + imgListStyle }">
                </figure>
                <h4><a data-bind="text: name"></a></h4>
                <p data-bind="text: feature"></p>
                <table class="hover listCart dish-list">
                    <tbody data-bind="foreach: prices">
                        <tr data-bind="visible: !($parents[1].toggleCart() && (!$data.count || $data.count === 0)) ,css: { selected: $data.count && $data.count > 0 }">
                            <td data-bind="text: name"></td>
                            <td width="100" data-bind="text: '￥' + price"></td>
                            <td width="150">
                                <button class="button subtract" data-bind="visible: $data.count && $data.count > 0? true: false"><i class="material-icons" data-bind="click: $parents[1].subtract.bind($data, $index(), $parentContext.$index()), clickBubble: true">&#xE15B;</i></button>
                                <b class="quantity" data-bind="text: $data.count? $data.count: ''"></b>
                                <button class="button add"><i class="material-icons" data-bind="click: $parents[1].addition.bind($data, $index(), $parentContext.$index()), clickBubble: false">&#xE145;</i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="list-button row column" data-bind="click: more, visible: isNext()" style="display: none;">
        <a class="button large btnMore">显示更多</a>
    </div>

    <div id="finalOrder" class="fixOpts fixOpts--b show" >
        <span data-bind="click: toggleCartProduct" id="finalTotalB">￥<b data-bind="text:totalPrice">0</b></span>
        <a data-bind="click: settleAccounts">结算</a>
    </div>
</div>
<script>
var products = <%- JSON.stringify(products? products: []) %>
var pageNumber = <%- number %>
var isNext = <%- isNext %>
var imgHost = '<%- imgHost %>'
var imgListStyle = '<%- imgListStyle %>'
</script>
<%- include('../layout/footer') -%>