<%- include('../layout/header') -%>

<% if(slidesData.length > 0){ %>
<div class="slick-wrap slick-fix640 clearfix">
    <div class="fcarousel">
        <% for(let i of slidesData) { %>
        <div class="fcarousel__item">
            <a target="_blank" href="<%- i.url %>">
                <div>
                    <img src="<%- i.img %><%- imgSlideStyle %>" />
                </div>
                <b class="lead<% if (i.price) { %> fcarousel__price<% } %>"><%- i.title %></b>
                <% if (i.price) { %><span><sup>￥</sup><strong><%- i.price %></strong> <small>起</small></span><% } %>
            </a>
        </div>
        <% } %>
    </div>
</div>
<% } %>
<div class="blk-margin"></div>

<div class="hot-bar-wrap clearfix" id="strikingNavigationDiv" style="display:none">
    <div class="top-bar hot-bar clearfix">
        <ul class="dropdown menu index" data-dropdown-menu id="strikingNavigationUl">
        </ul>
    </div>
</div>

<div class="row expanded column small-up-1 medium-up-3 large-up-4 xxlarge-up-5 tourboard-wrap" data-equalizer data-equalize-on="medium" data-equalize-by-row="true" id="listEqualizer">
    <% if(products) { %>
        <div class="column tourboard__title tourboard__title--0">
            <a style="cursor:default" class="masonry-item masonry-item--index" data-equalizer-watch>
                <h3>产品</h3>
                <cite></cite>
                <i class="material-icons mi-arrow_forward"></i>
            </a>
        </div>
        <% for(let v of products) { %>
        <div class="column">
            <a href="/products/<%- v.id %>" class="masonry-item masonry-item--index" data-equalizer-watch>
                <img src="<%- imgHost %><%- v.logo %><%- imgListStyle %>" />
                <b>
                    <%- v.name %>
                </b>
                <em>
                <small><% v.feature %></small>
                </em>
                <span>￥<strong><%- v.minPrice %></strong> <small>起</small></span>
            </a>
        </div>
        <% } %>
    <% } %>
    <% if(projects) { %>
        <div class="column tourboard__title tourboard__title--3">
            <a style="cursor:default" class="masonry-item masonry-item--index" data-equalizer-watch>
                <h3>项目与定制</h3>
                <cite></cite>
                <i class="material-icons mi-arrow_forward"></i>
            </a>
        </div>
        <% for(let v of projects) { %>
        <div class="column">
            <a target="_blank" href="/projects/<%- v.id %>" class="masonry-item masonry-item--index" data-equalizer-watch>
                <img src="<%- imgHost %><%- v.logo %><%- imgListStyle %>" />
                <b>
                    <%- v.name %>
                </b>
                <em>
                <small><%- v.feature %></small>
                </em>
                <span>￥<strong><%- v.minPrice %></strong> <small>起</small></span>
            </a>
        </div>
        <% } %>
    <% } %>
    <% if(articles) { %>
        <div class="column tourboard__title tourboard__title--2">
            <a style="cursor:default" class="masonry-item masonry-item--index" data-equalizer-watch>
                <h3>资讯</h3>
                <cite></cite>
                <i class="material-icons mi-arrow_forward"></i>
            </a>
        </div>
        <% for(let v of articles) { %>
        <div class="column">
            <a target="_blank" href="/articles/<%- v.id %>" class="masonry-item masonry-item--index" data-equalizer-watch>
                <img src="<%- imgHost %><%- v.logo %><%- imgListStyle %>" />
                <b>
                    <%- v.title %>
                </b>
                <em>
                <small><%- v.abstract %></small>
                </em>
            </a>
        </div>
        <% } %>
    <% } %>


</div>


<!-- <div class="list-button row column">
    <button class="button large btnMore" data-bind="click: more, visible: isNext()">加载更多</button>
</div> -->
<script>
	var data = <%- JSON.stringify(products? products: []) %>;
    var pageno = <%- number %>;
    var isNext = <%- isNext %>;
    var imgHost = '<%- imgHost %>';
</script>
<%- include('../layout/footer') -%>