<%- include('../layout/header') -%>
<% if(slidesData.length > 0){ %>
<div class="row expanded column top-carousel">
    <div class="jcarousel jcarousel--home">
        <ul>
            <% for(let i of slidesData) { %>
			<li>
                <a href="<%= i.url %>">
                    <div style="background-image:url(<%= i.img %>?imageView2/1/w/640/h/427)">
                    </div>
                    <b class="lead">
                        <%= i.title %>
                    </b>
                    <% if(i.slideType == SHOP_SLIDES_TYPE_PRODUCT) { %>
                    <span><sup>￥</sup><strong><%= i.price %></strong> <small>起</small></span>
                    <% } %>
                </a>
            </li>
			<% } %>
        </ul>
    </div>
    <a href="#" class="jcarousel-control-prev material-icons mi-keyboard_arrow_left"></a>
    <a href="#" class="jcarousel-control-next material-icons mi-keyboard_arrow_right right"></a>
    <div class="jcarousel-pagination"></div>
</div>
<% } %>


<div class="blk-margin"></div>


<div class="row expanded column small-up-1 medium-up-3 large-up-4 xxlarge-up-5 tourboard-wrap" data-equalizer data-equalize-on="medium" data-equalize-by-row="true" id="listEqualizer">
    <% if(products) { %>
        <div class="column tourboard__title tourboard__title--0">
            <a style="cursor:default" class="masonry-item masonry-item--index" data-equalizer-watch>
                <h3>产品</h3>
                <cite>(<%= products.length %>)</cite>
                <i class="material-icons mi-arrow_forward"></i>
            </a>
        </div>
        <% for(let v of products) { %>
        <div class="column">
            <a href="/products/<%= v.id %>" class="masonry-item masonry-item--index" data-equalizer-watch>
                <img src="<%= imgHost %><%= v.logo %>" />
                <b>
                    <%= v.name %>
                </b>
                <p class="with-price"></p>
                <span>￥<strong><%= v.minPrice %></strong> <small>起</small></span>
            </a>
        </div>
        <% } %>
    <% } %>
    <% if(projects) { %>
        <div class="column tourboard__title tourboard__title--3">
            <a style="cursor:default" class="masonry-item masonry-item--index" data-equalizer-watch>
                <h3>项目与定制</h3>
                <cite>(<%= projects.length %>)</cite>
                <i class="material-icons mi-arrow_forward"></i>
            </a>
        </div>
        <% for(let v of projects) { %>
        <div class="column">
            <a href="/projects/<%= v.id %>" class="masonry-item masonry-item--index" data-equalizer-watch>
                <img src="<%= imgHost %><%= v.logo %>" />
                <b>
                    <%= v.name %>
                </b>
                <p class="with-price"></p>
                <span>￥<strong><%= v.minPrice %></strong> <small>起</small></span>
            </a>
        </div>
        <% } %>
    <% } %>
    <% if(articles) { %>
        <div class="column tourboard__title tourboard__title--2">
            <a style="cursor:default" class="masonry-item masonry-item--index" data-equalizer-watch>
                <h3>资讯</h3>
                <cite>(<%= articles.length %>)</cite>
                <i class="material-icons mi-arrow_forward"></i>
            </a>
        </div>
        <% for(let v of articles) { %>
        <div class="column">
            <a href="/articles/<%= v.id %>" class="masonry-item masonry-item--index" data-equalizer-watch>
                <img src="<%= imgHost %><%= v.logo %>" />
                <b>
                    <%= v.title %>
                </b>
                <p class="with-price"></p>
            </a>
        </div>
        <% } %>
    <% } %>


</div>


<!-- <div class="list-button row column">
    <button class="button large btnMore" data-bind="click: more, visible: isNext()">加载更多</button>
</div> -->
<script>
	var data = <%- JSON.stringify(products? products: []) %>;
    var pageno = <%= number %>;
    var isNext = <%= isNext %>;
    var imgHost = '<%= imgHost %>';
    var imgStyle = '<%= imgStyle %>';
</script>
<%- include('../layout/footer') -%>