<%- include('../layout/header') -%>
<% if(slidesData.length > 0){ %>
<div class="row expanded column top-carousel">
    <div class="jcarousel jcarousel--home">
        <ul>
            <% for(let i of slidesData) { %>
			<li>
                <a href="<%= i.url %>">
                    <div style="background-image:url(<%= i.img %>)"></div>
                    <b class="lead">
                        <%= i.title %>
                    </b>
                    <span><small>最低</small><sup>￥</sup><strong><%= i.price %></strong><i class="fa fa-arrow-circle-o-right"></i></span>
                </a>
            </li>
			<% } %>
        </ul>
    </div>
    <a href="#" class="jcarousel-control-prev material-icons mi-keyboard_arrow_left"></a>
    <a href="#" class="jcarousel-control-next material-icons mi-keyboard_arrow_right right"></a>
    <div class="jcarousel-pagination"></div>
</div>
<% } %>


<div class="blk-margin"></div>


<div class="row expanded column small-up-1 medium-up-3 large-up-4 xxlarge-up-5 tourboard-wrap" data-equalize-on="medium" data-equalize-by-row="true" id="listEqualizer" data-bind="foreach:prods">
    <div class="column">
        <a data-bind="attr:{href: '/products/' + id}" class="masonry-item masonry-item--index" data-equalizer-watch>
            <img data-bind="attr:{src: imgHost + logo + imgStyle }" />
            <b data-bind="text:name"></b>
            <em></em>
            <span><small>最低</small> ￥<strong data-bind="text:minPrice"></strong></span>
        </a>
    </div>
</div>

<!--
<div class="row column bottom-search">
    <h3>Got no ideal? Find more here</h3>
    <div class="input-group">
        <input class="input-group-field" type="text">
        <div class="input-group-button">
            <!!!--<a class="button">Primary Action</a>
            <a class="dropdown button arrow-only">
                <span class="show-for-sr">Show menu</span>
            </a>-_-!>
            <input type="submit" class="button" value="Search">
        </div>
    </div>
</div>-->

<div class="list-button row column">
    <button class="button large btnMore" data-bind="click: more, visible: isNext()">加载更多</button>
</div>
<script>
	var data = <%- JSON.stringify(products? products: {}) %>;
    var pageno = <%= number %>;
    var isNext = <%= isNext %>;
    var imgHost = '<%= imgHost %>';
    var imgStyle = '<%= imgStyle %>';
</script>
<%- include('../layout/footer') -%>