<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="index.html">首页</a></li>
        <li><a href="userCPOrderList.html">用户订单</a></li>
        <li>
            <span class="show-for-sr">Current: </span> 订单详情
        </li>
    </ul>
</nav>

<h1 class="row column">订单详情 No.157658-333</h1>
<div id="orderDetail">
<div class="row block-margin-bottom">
    <div class="workflow-wrap">
        <div class="workflow-bar prec<%= data.step %>"></div>
        <ol class="workflow-label">
            <li class="lb<%= data.step >= 0 ? ' passed' : '' %>"><b><s></s></b>提交订单</li>
            <li class="lb<%= data.step >= 1 ? ' passed' : '' %>"><b><s></s></b>支付订单</li>
            <li class="lb<%= data.step >= 2 ? ' passed' : '' %>"><b><s></s></b>等待收货</li>
            <li class="lb<%= data.step == 3 ? ' passed' : '' %>"><b><s></s></b>完成</li>
        </ol>
    </div>
</div>

    <% if(data.step == 1) { %>
    <div class="row column">
        <div class="callout alert">
            <h4>请您尽快支付订单！</h4>
            <p>您订单No.26733-128已完成提交，正在等待支付。</p>
        </div>
    </div>

    <div class="row text-center form-submit-wrap">
        <a href="userCPOrderDetail_1_waitingDelivery.html" class="button large">支付订单</a>
    </div>
    <% } %>

    <% if(data.step == 2) { %>
    <div class="row column">
        <div class="callout success">
            <h4>您的订单正在配送途中，请您耐心等待！</h4>
            <p>请您在收货后点击下方的确认收货按钮。</p>
        </div>
    </div>

    <div class="row text-center form-submit-wrap">
        <a href="userCPOrderDetail_2_complete.html" class="button large">确认收货</a>
    </div>
    <% } %>

    <% if(data.step == 3) { %>
    <div class="row column">
        <div class="callout success">
            <h4>您的订单已完成配送！</h4>
            <p>确认收货时间为 2016-12-12 13:30:30。</p>
        </div>
    </div>
    <% } %>

<div class="row column">
    <table class="stack stack--small hover listCart tableList">
        <thead>
            <tr>
                <th width="150">产品ID</th>
                <th>产品名称</th>
                <th width="150">规格</th>
                <th width="150">单价</th>
                <th width="150">数量</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: goods">
            <tr>
                <td data-th="产品ID" data-bind="text:id"></td>
                <td data-th="产品名称" data-bind="text:name"></td>
                <td data-th="颜色" data-bind="text:sku"></td>
                <td data-th="单价" data-bind="text:price"></td>
                <td data-th="数量" data-bind="text:quantity"></td>
            </tr>
        </tbody>
    </table>   

    <form data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
            <p><i class="fi-alert"></i> There are some errors in your form.</p>
        </div>
        <fieldset class="fieldset">
            <legend><h4>配送信息</h4></legend>
            <div class="row column">
                Sapien elit in malesuada semper mi, id sollicitudin urna fermentum. Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
            </div>
        </fieldset>

        <fieldset class="fieldset">
            <legend><h4>支付方式</h4></legend>
            <div class="row">
                <fieldset class="columns">
                    <label for="pokemonRed">银联</label>
                </fieldset>
            </div>
        </fieldset>
    </form>

    <div class="row text-right cart-total">
        商品小计：￥<strong class="stat"><%= data.totalGoods %></strong><br />
        运费小计：￥<strong class="stat"><%= data.deliveryFee %></strong><br />
        订单合计：￥<strong class="stat"><%= data.totalGoods + data.deliveryFee %></strong>
    </div>
</div>
</div>
<script>
    var order = <%- JSON.stringify(data) %>;
</script>
<%- include('../layout/footer') -%>