<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="index.html">首页</a></li>
        <li>
            <span class="show-for-sr">Current: </span> 提交订单
        </li>
    </ul>
</nav>

<h1 class="row column">提交商品订单</h1>
<div id="orderConfirm">
<div class="row column">
    <table class="stack stack--small hover listCart tableList">
        <thead>
            <tr>
                <th width="150">产品ID</th>
                <th>产品名称</th>
                <th width="150">颜色</th>
                <th width="150">单价</th>
                <th width="150">数量</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: goods">
            <tr>
                <td data-th="产品ID" data-bind="text:id"></td>
                <td data-th="产品名称" data-bind="text:name"></td>
                <td data-th="颜色" data-bind="text:sku"></td>
                <td data-th="单价" data-bind="text:price"></td>
                <td data-th="数量" data-bind="text:quantity"></td>
            </tr>
        </tbody>
    </table>   

    <form data-abide="ajax" novalidate id="formOrderConfirm">
        <div data-abide-error class="alert callout alert-form-error" style="display: none;">
	        <p class="row column">请填写所有表单内容</p>
        </div>
        <fieldset class="fieldset" id="fieldAddress">
            <legend><h4>配送信息</h4></legend>
            <div>
                <label>请填写收货人姓名, 联系电话，详细地址和邮政编码
                    <textarea rows="3" required></textarea>
                    <span class="form-error">
						请填写收货人信息
					</span>
                </label>                
            </div>
            <!-- kos foreach:addresses ->
            <div class="row column checkbox-inline">
                <input data-bind="attr:{id: id}" type="radio" name="adress">
                <label for="checkbox12"><b data-bind="text:name">收货人姓名</b>, <span data-bind="text: mobile + ', ' + where + ', ' + address">15012345678, 山西-西安-莲湖区Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</span></label>
            </div>
            <!- /ko -->
            <!--<div>
                <button class="button button-unstyle" data-open="editRole" onclick="return false;">添加新地址</button>
            </div>-->
        </fieldset>

        <fieldset class="fieldset">
            <legend><h4>支付方式</h4></legend>
            <div class="row">
                <fieldset class="columns">
                    <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">诚信游支付(银联)</label>
                    <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow"><label for="pokemonYellow">线下交易</label>
                    <div class="row column">
                        <div class="callout success">
                            <h5>关于诚信游支付</h5>
                            <p>
                                Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                            </p>
                        </div>
                    </div>
                </fieldset>
            </div>
        </fieldset>

        <div class="row text-right cart-total">
            商品小计：￥<strong class="stat"><%= data.totalGoods %></strong><br />
            运费小计：￥<strong class="stat"><%= data.deliveryFee %></strong><br />
            订单合计：￥<strong class="stat"><%= data.totalGoods + data.deliveryFee %></strong>
        </div>

        <div class="row text-center form-submit-wrap">
            <button href="/order" class="button large" data-bind="click: save">确认并提交商品订单</button>
        </div>
    </form>
</div>

<div class="reveal small" id="editRole" data-reveal>
    <h3>添加/编辑地址</h3>
    <div class="row">
        <div class="medium-6 columns">
            <label>
                收货人姓名
                <input type="text" required>
            </label>
        </div>
        <div class="medium-6 columns">
            <label>
                联系电话
                <input type="text" required>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 columns">
            <label class="autoSelect">
                <span>所在地区</span>
                <select><option>请选择省</option></select>
                <select><option>请选择市</option></select>
                <select><option>请选择区</option></select>
            </label>
        </div>
        <div class="medium-6 columns">
            <label>
                邮政编码
                <input type="text" required>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>
                详细地址
                <input type="text" placeholder="" required pattern="number">
                <span class="form-error">
                    Yo, you had better fill this out, it's required.
                </span>
            </label>
        </div>
    </div>
    <div class="row text-center form-submit-wrap">
        <button class="button" data-close id="saveAddress">保存</button>
        <button class="button secondary" data-close>取消</button>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
</div>
<script>
    var data = <%- JSON.stringify(data) %>;
</script>
<%- include('../layout/footer') -%>