<%- include('../layout/header') -%>
<nav aria-label="您的位置:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="/">首页</a></li>
        <li>
            <span class="show-for-sr">当前: </span> 文章频道
        </li>
    </ul>
</nav>

<div class="hot-bar-wrap clearfix">
    <div class="top-bar hot-bar clearfix">
        <ul class="dropdown menu index" data-dropdown-menu id="tagFilter">
            <li class="menu-text"><%- channelName %></li>
            <% for(let i of categories) { %>
            <li>
                <a href="/channel/categories/<%- i.id %>"><%- i.name %></a>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<div class="row column blk-margin">
    <div data-bind="foreach:articles" id="articleNavigation">
        <a class="article-item clearfix" data-bind="attr:{href: '/articles/' + id}">

            <figure data-bind="attr:{style: 'background-image:url(<%- imgHost %>' + logo + '<%- imgListStyle%>)'}"></figure>
            <h4 data-bind="text:title"></h4>
            <p data-bind="text:abstract"></p>
        </a>
    </div>
    
</div>
<div class="list-button row column">
    <a class="button large btnMore" style="display: none;" data-bind="click: more, visible: isNext()" id="more">显示更多文章</a>
</div>

<script>
	var id = <%- id %>
	var data = <%- JSON.stringify(articles? articles: []) %>
  var isNext = <%- isNext %>
</script>


<%- include('../layout/footer') -%>