<%- include('../layout/header') -%>
<nav aria-label="您的位置:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="/">首页</a></li>
        <li>
            <span class="show-for-sr">当前: </span> 分类频道
        </li>
    </ul>
</nav>

<h1 class="row column"><%- productType.name %></h1>
<div class="masonry-wrap-outer">
    <div class="small-up-1 medium-up-3 large-up-4 xxlarge-up-5 masonry-wrap" id="masonryWrap" data-bind="template: { foreach: prods, afterAdd: afterAdd }">
        <div class="column">
            <a target="_blank" data-bind="attr:{href: '/products/' + productId + (source? '/' + source: '')}" class="masonry-item">
                <img data-bind="attr:{src: imgHost + logo + imgStyle }" />
                <b data-bind="text:name"></b>
                <em></em>
                <span>￥<strong data-bind="text:minPrice"></strong> <small>起</small></span>
                <i class="small expanded button">查看详情</i>
            </a>
        </div>
    </div>
</div>
<div class="list-button row column">
    <a class="button large btnMore" style="display: none;" data-bind="click: more, visible: isNext()" id="more">显示更多商品</a>
</div>

<script>
	var productTypeId = <%- productTypeId %>;
	var data = <%- JSON.stringify(products? products: []) %>;
    var isNext = <%- isNext %>;
    var imgHost = '<%- imgHost %>';
    var imgStyle = '<%- imgListStyle %>';
</script>


<%- include('../layout/footer') -%>