<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="/">首页</a></li>
        <li>
            <span class="show-for-sr">Current: </span> 提交订单
        </li>
    </ul>
</nav>

<h1 class="row column">提交商品订单</h1>
<div id="orderMulitConfirm">
    <div class="row column">
        <div class="row column">
            <table class="stack stack--small hover listCart tableList">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th width="150">规格</th>
                    <th width="150">单价</th>
                    <th width="150">数量</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let product of products) { %>
                        <% if(productsInfo[product.id]) { %>
                            <% for(let price of productsInfo[product.id]) { %>
                                <% if(product.prices[price.index]) { %>
                                    <tr>
                                        <td data-th="名称"><%- product.name %></td>
                                        <td data-th="规格"><%- product.prices[price.index].title %></td>
                                        <td data-th="单价"><%- product.prices[price.index].price %></td>
                                        <td data-th="数量"><%- price.number %></td>
                                    </tr>
                                <% } %>
                            <% } %>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div> 

        <form data-abide="ajax" novalidate id="formOrderConfirm">
            <div data-abide-error class="alert callout alert-form-error" style="display: none;">
                <p class="row column">请填写所有表单内容</p>
            </div>
            <fieldset class="fieldset" id="fieldAddress">
                <legend><h4>附加留言</h4></legend>
                <div>
                    <label>
                        <textarea rows="3" id="comment"></textarea>
                        <span class="form-error">
                            请填写收货人信息
                        </span>
                    </label>                
                </div>
            </fieldset>
            
            <fieldset class="fieldset">
                <legend><h4>支付方式</h4></legend>
                <div class="row">
                    <fieldset class="columns">
                        <div class="clearfix">
                            <label class="inline-grounp-label"><input type="radio" name="payType" value="1" checked>微信支付</label>
                        </div>
                    </fieldset>
                </div>
            </fieldset>

            <fieldset class="fieldset">
            <legend><h4>系统备注</h4></legend>
            <div class="row">
                <div class="small-12 columns">
                    <label>
                        <%- cartTable.name %>
                    </label>
                </div>
            </div>
        </fieldset>
            
            <div class="row text-right cart-total">
                订单合计：￥<strong class="stat"><%- totalPrice %></strong>
            </div>

            <div class="row text-center form-submit-wrap">
                <button id="confirmButton" type="button" class="button large" data-bind="click: save">确认并提交商品订单</button>
            </div>
        </form>
    </div>
</div>
<script>
    var cartTable = <%- JSON.stringify(cartTable) %>
    var productsInfo = <%- JSON.stringify(productsInfo) %>
</script>
<%- include('../layout/footer') -%>