<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="/">首页</a></li>
        <li>
            <span class="show-for-sr">Current: </span> 提交订单
        </li>
    </ul>
</nav>

<h1 class="row column">提交商品订单</h1>
<div id="orderConfirm">
<div class="row column">
    <table class="stack stack--small hover listCart tableList">
        <thead>
            <tr>
                <th width="150">产品ID</th>
                <th>产品名称</th>
                <th width="150">规格</th>
                <th width="150">单价</th>
                <th width="150">数量</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-th="产品ID"><%= product.id %></td>
                <td data-th="产品名称"><%= product.name %></td>
                <td data-th="规格"><%= priceInfo.title %></td>
                <td data-th="单价"><%= priceInfo.price %></td>
                <td data-th="数量"><%= productNum %></td>
            </tr>
        </tbody>
    </table>   

    <form data-abide="ajax" novalidate id="formOrderConfirm">
        <div data-abide-error class="alert callout alert-form-error" style="display: none;">
            <p class="row column">请填写所有表单内容</p>
        </div>
        <fieldset class="fieldset" id="fieldAddress">
            <legend><h4>附加留言</h4></legend>
            <div>
                <label>请填写联系方式和姓名
                    <textarea rows="3" id="comment" required></textarea>
                    <span class="form-error">
                        请填写收货人信息
                    </span>
                </label>                
            </div>
            <!-- kos foreach:addresses ->
            <div class="row column checkbox-inline">
                <input data-bind="attr:{id: id}" type="radio" name="adress">
                <label for="checkbox12"><b data-bind="text:name">收货人姓名</b>, <span data-bind="text: mobile + ', ' + where + ', ' + address">15012345678, 山西-西安-莲湖区Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</span></label>
            </div>
            <!- /ko 
            <div>
                <button class="button button-unstyle" data-open="editRole" onclick="return false;">添加新地址</button>
            </div>-->
        </fieldset>

        <fieldset class="fieldset">
            <legend><h4>支付方式</h4></legend>
            <div class="row">
                <fieldset class="columns">
                    <input type="radio" name="pokemon" value="Red" id="pokemonRed" checked><label for="pokemonRed">微信支付</label>
                    <!--<input type="radio" name="pokemon" value="Yellow" id="pokemonYellow"><label for="pokemonYellow">线下交易</label>-->
                    <!--<div class="row column">
                        <div class="callout success">
                            <h5>关于诚信游支付</h5>
                            <p>
                                Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                            </p>
                        </div>
                    </div>-->
                </fieldset>
            </div>
        </fieldset>

        <% if(contract) { %>
        <fieldset class="fieldset">
            <legend><h4>合同信息</h4></legend>
            <div class="row column">
                <label><input type="checkbox" required /> 接受合同<a data-open="contractPanel" onclick="return false;"><%= contract.title %></a>的条款
                <span class="form-error">
                    请查看并选择接受合同条款
                </span>
                </label>
            </div>
        </fieldset>  
        <% } %>

        <div class="row text-right cart-total">
            订单合计：￥<strong class="stat"><%= totalPrice %></strong>
        </div>

        <div class="row text-center form-submit-wrap">
            <button href="/order" id="confirmButton" class="button large" data-bind="click: save">确认并提交商品订单</button>
        </div>
    </form>
</div>

<% if(contract) { %>
<div class="reveal large" id="contractPanel" data-reveal>
    <h3><%= contract.title %></h3>
    <div class="profile-main">
        <h6>合同内容</h6>
        <% for(var i in contract.content) { %>
            <% if (contract.content[i].type == "image" && contract.content[i].value){ %>
                <% if (contract.content[i].value.url){ %>
                    <% if (contract.content[i].value.link){ %>
                        <a href="<%= 'http://' + contract.content[i].value.link %>" class="image-link-"><img src="<%= imgHost + contract.content[i].value.url %>" /></a>
                    <% } else { %>
                        <img src="<%= imgHost + contract.content[i].value.url %>" />
                    <% } %>
                    
                <% } %>
            <% } else if (contract.content[i].type == "text" && contract.content[i].value) { %>
                <% if(contract.content[i].value.title != ''){ %>
                <h6<% if (contract.content[i].value.isAlert == "true") { %> class="alert"<% } %>><%= contract.content[i].value.title.replace(/ /g, '&nbsp;') %></h6>
                <% } %>
                <p<% if (contract.content[i].value.isAlert == "true") { %> class="alert"<% } %>><%- nl2br(contract.content[i].value.desc.replace(/ /g, '&nbsp;')) %></p>
            <% } %>
        <% } %>
    </div>
    <div class="row text-center form-submit-wrap">
        <button class="button" data-close id="saveAddress">关闭</button>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>

<div class="reveal small" id="editRole" data-reveal>
    <h3>添加/编辑地址</h3>
    <div class="row">
        <div class="medium-6 columns">
            <label>
                收货人姓名
                <input type="text" required>
            </label>
        </div>
        <div class="medium-6 columns">
            <label>
                联系电话
                <input type="text" required>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 columns">
            <label class="autoSelect">
                <span>所在地区</span>
                <select><option>请选择省</option></select>
                <select><option>请选择市</option></select>
                <select><option>请选择区</option></select>
            </label>
        </div>
        <div class="medium-6 columns">
            <label>
                邮政编码
                <input type="text" required>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>
                详细地址
                <input type="text" placeholder="" required pattern="number">
                <span class="form-error">
                    Yo, you had better fill this out, it's required.
                </span>
            </label>
        </div>
    </div>
    <div class="row text-center form-submit-wrap">
        <button class="button" data-close id="saveAddress">保存</button>
        <button class="button secondary" data-close>取消</button>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
</div>
<script>
    var price = <%= totalPrice %>;
    var prodId = <%= productId %>;
    var priceOrder = <%= priceOrder %>;
    var productNum = <%= productNum %>;
</script>
<%- include('../layout/footer') -%>