<%- include('../layout/header') -%>

<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="/">首页</a></li>
        <li><a href="/orders">用户订单</a></li>
        <li>
            <span class="show-for-sr">Current: </span> 订单详情
        </li>
    </ul>
</nav>

<h1 class="row column">订单详情 No.<%= order.id %></h1>

<!-- <div class="row block-margin-bottom">
    <div class="workflow-wrap">
        <div class="workflow-bar prec1"></div>
        <ol class="workflow-label">
            <li class="lb passed"><b><s></s></b>提交订单</li>
            <li class="lb passed"><b><s></s></b>支付订单</li>
            <li class="lb"><b><s></s></b>等待收货</li>
            <li class="lb"><b><s></s></b>完成</li>
        </ol>
    </div>
</div> -->

<% if(order.status === 0){ %>

<div class="row column">
    <div class="callout alert">
        <h4>等待用户完成订单支付！</h4>
        <p>订购时间 2016-12-12 13:30:30。</p>
    </div>
</div>

<% if(haimi && account.source && account.source.balance){ %>
<div class="row column">
    <fieldset class="fieldset">
        <legend><h4>海米余额</h4></legend>
        <div class="row column">
            <label><%= account.source.balance %>海米</label>
        </div>
    </fieldset>

    <fieldset class="fieldset">
        <legend><h4>支付方式</h4></legend>
        <div class="row">
            <fieldset class="columns">
                <input type="radio" name="payType" value="1" checked><label for="pokemonRed">微信支付</label>

                <input type="radio" name="payType" <% if(!account.source || account.source.balance * account.source.exchangeRate < order.price ){ %>  disabled<% } %> value="3" ><label for="pokemonRed">海米支付<% if(!account.source || account.source.balance * account.source.exchangeRate < order.price ){ %>(余额不足)<% } %></label>
            </fieldset>
        </div>
    </fieldset>
</div>
<div class="row text-center form-submit-wrap">
    <button id="payButton" class="button large">支付定单</button>
</div>
<% } else { %>
<div class="row text-center form-submit-wrap">
    <a class="button large" href="http://<%=hubHost%>/wechat/pay/?id=<%= order.id %>">支付定单</a>
</div>
<% } %>

<% } else if(order.status === 5) { %>

<div class="row column">
    <div class="callout success">
        <h4>订单已完成！</h4>
        <p>订购时间 2016-12-12 13:30:30。</p>
    </div>
</div>

<% } %>



<div class="row column">
    <table class="stack stack--small hover listCart tableList">
        <thead>
			<tr>
                <th width="150">产品ID</th>
                <th>产品名称</th>
                <th width="150">规格</th>
                <th width="150">单价</th>
                <th width="150">数量</th>
            </tr>
        </thead>
        <tbody>

            <% for(let product of order.products){ %>
			<tr>
                <td data-th="产品ID"><%= product.productSnapshot.product.id %></td>
                <td data-th="产品名称"><a target="_blank" href="/products/<%= product.productSnapshot.product.id %>"><%= product.productSnapshot.product.name %></a></td>
                <td data-th="规格"><%= product.productSnapshot.product.prices[product.priceIndex].title %></td>
                <td data-th="单价">￥<%= product.productSnapshot.product.prices[product.priceIndex].price %></td>
                <td data-th="数量"><%= product.number %></td>
            </tr>
            <% } %>
        </tbody>
    </table>   

    <form data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
            <p><i class="fi-alert"></i> There are some errors in your form.</p>
        </div>
        <fieldset class="fieldset">
            <legend><h4>客户留言</h4></legend>
            <div class="row">
                <div class="small-12 columns">
                    <label>
                        <%= order.comment %>
                    </label>
                </div>
            </div>
        </fieldset>

        <% if(order.payType > 0) { %>
        <fieldset class="fieldset">
            <legend><h4>支付方式</h4></legend>
            <div class="row">
                <fieldset class="columns">
                    <label for="pokemonRed"><%= ORDER_PAY_TYPE_NAME_LIST[order.payType]%></label>
                </fieldset>
            </div>
        </fieldset>
        <% } %>

        <% if(order.products[0].contractSnapshot.id) { %>
            <fieldset class="fieldset">
                <legend><h4>合同信息</h4></legend>
                <div class="row column">
                    <a data-open="contractPanel" onclick="return false;"><%= order.products[0].contractSnapshot.contract.title %></a>
                </div>
            </fieldset> 
        <% } %>
    <div class="row text-right cart-total">
        订单合计：￥<strong class="stat"><%= order.price %></strong>
    </div>
</div>

<% if(order.products[0].contractSnapshot.id) { %>
<div class="reveal large" id="contractPanel" data-reveal>
    <h3><%= order.products[0].contractSnapshot.contract.title %></h3>
    <div class="profile-main">
        <h6>合同内容</h6>
        <% for(var i in order.products[0].contractSnapshot.contract.content) { %>
            <% if (order.products[0].contractSnapshot.contract.content[i].type == "image" && order.products[0].contractSnapshot.contract.content[i].value){ %>
                <% if (order.products[0].contractSnapshot.contract.content[i].value.url){ %>
                    <% if (order.products[0].contractSnapshot.contract.content[i].value.link){ %>
                        <a href="<%= 'http://' + order.products[0].contractSnapshot.contract.content[i].value.link %>" class="image-link-"><img src="<%= imgHost + order.products[0].contractSnapshot.contract.content[i].value.url %>" /></a>
                    <% } else { %>
                        <img src="<%= imgHost + order.products[0].contractSnapshot.contract.content[i].value.url %>" />
                    <% } %>
                    
                <% } %>
            <% } else if (order.products[0].contractSnapshot.contract.content[i].type == "text" && order.products[0].contractSnapshot.contract.content[i].value) { %>
                <% if(order.products[0].contractSnapshot.contract.content[i].value.title != ''){ %>
                <h6<% if (order.products[0].contractSnapshot.contract.content[i].value.isAlert == "true") { %> class="alert"<% } %>><%= order.products[0].contractSnapshot.contract.content[i].value.title.replace(/ /g, '&nbsp;') %></h6>
                <% } %>
                <p<% if (order.products[0].contractSnapshot.contract.content[i].value.isAlert == "true") { %> class="alert"<% } %>><%- nl2br(order.products[0].contractSnapshot.contract.content[i].value.desc.replace(/ /g, '&nbsp;')) %></p>
            <% } %>
        <% } %>
    </div>
    <div class="row text-center form-submit-wrap">
        <button class="button" data-close id="saveAddress">关闭</button>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>
<script>
    var orderId = <%= order.id %>
    var hubHost = '<%= hubHost %>'
</script>

<%- include('../layout/footer') -%>