<%- include('../layout/header') -%>

<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="/">首页</a></li>
        <li><a href="/orders">用户订单</a></li>
        <li>
            <span class="show-for-sr">Current: </span> 订单详情
        </li>
    </ul>
</nav>

<h1 class="row column">订单详情 No.<%= order.id %></h1>

<!-- <div class="row block-margin-bottom">
    <div class="workflow-wrap">
        <div class="workflow-bar prec1"></div>
        <ol class="workflow-label">
            <li class="lb passed"><b><s></s></b>提交订单</li>
            <li class="lb passed"><b><s></s></b>支付订单</li>
            <li class="lb"><b><s></s></b>等待收货</li>
            <li class="lb"><b><s></s></b>完成</li>
        </ol>
    </div>
</div> -->

<% if(order.status === 0){ %>

<div class="row column">
    <div class="callout alert">
        <h4>等待用户完成订单支付！</h4>
    </div>
</div>


<div class="row column" id="payTypeDiv">
    <% if(haimi && account.source && account.source.balance){ %>
    <fieldset class="fieldset">
        <legend><h4>海米余额</h4></legend>
        <div class="row column">
            <label><%= account.source.balance %>海米</label>
        </div>
    </fieldset>
    <% } %>

    <fieldset class="fieldset">
        <legend><h4>支付方式</h4></legend>
        <div class="row">
            <fieldset class="columns">
                <div class="clearfix">
                    <label class="inline-grounp-label">
                        <input type="radio" name="payType" data-bind="checked: payType" value="<%= ORDER_PAY_TYPE_NORMAL%>" checked>微信支付
                    </label>
                    <% if(haimi && account.source && account.source.balance){ %>
                        <label class="inline-grounp-label">
                            <input type="radio" name="payType" data-bind="checked: payType" <% if(!account.source || account.source.balance * account.source.exchangeRate < order.price ){ %>  disabled<% } %> value="<%= ORDER_PAY_TYPE_THIRD%>" >海米支付<% if(!account.source || account.source.balance * account.source.exchangeRate < order.price ){ %>(余额不足)<% } %>
                        </label>
                    <% } %>
                    <label class="inline-grounp-label"><input type="radio" name="payType" data-bind="checked: payType" value="<%= ORDER_PAY_TYPE_OFFLINE%>" >线下支付</label>
                </div>
            </fieldset>
        </div>
    </fieldset>
    <form data-abide="ajax" novalidate id="formOrderPayOffline" data-bind="visible: showOffline" style="display: none;">
        <fieldset class="fieldset">
            <legend><h4>线下支付方式收款账户信息</h4></legend>
            <label>
                开户行：招商银行北京分行海淀支行 <br />

                账号：110925217610902 <br />

                名称：景运（北京）科技有限公司 <br />

                （提示：线下付款订单生效以收款账号收到付款为有效）
            </label>
        </fieldset>
        <fieldset class="fieldset">
        <legend><h4>转账信息</h4></legend>
        
        <div>
            <label>请填写付款人姓名和付款账号
                <textarea rows="3" id="comment" data-bind="textInput: comment" required></textarea>
                <span class="form-error">
                    请填写转账信息
                </span>
            </label>                
        </div>
        </fieldset>

        <div class="row text-center form-submit-wrap">
            <button id="offlineButton" data-bind="click: offlineButtonClick, disable: offlineButtonDisable, text: offlineButtonText" class="button large"></button>
        </div>
    </form>
    <div class="row text-center form-submit-wrap" data-bind="visible: showPayButton">
        <button id="payButton" data-bind="click: payButtonClick, disable: payButtonDisable" class="button large">支付定单</button>
    </div>
</div>

<% } else if(order.status === 5) { %>

<div class="row column">
    <div class="callout success">
        <h4>订单已完成！</h4>
    </div>
</div>

<% } else if(order.status == 3 && order.payType == 2) { %>

<div class="row column">
    <div class="callout success">
        <h4>已选择线下支付，请等待后台确认转账信息</h4>
    </div>
</div>
<% } %>


<div class="row column">
    <table class="stack stack--small hover listCart tableList">
        <thead>
			<tr>
                <th width="150">产品ID</th>
                <th>产品名称</th>
                <th width="150">规格</th>
                <th width="150">单价</th>
                <th width="150">数量</th>
            </tr>
        </thead>
        <tbody>

            <% for(let product of order.products){ %>
			<tr>
                <td data-th="产品ID"><%= product.productSnapshot.product.id %></td>
                <td data-th="产品名称"><a target="_blank" href="/products/<%= product.productSnapshot.product.id %>"><%= product.productSnapshot.product.name %></a></td>
                <td data-th="规格"><%= product.productSnapshot.product.prices[product.priceIndex].title %></td>
                <td data-th="单价">￥<%= product.productSnapshot.product.prices[product.priceIndex].price %></td>
                <td data-th="数量"><%= product.number %></td>
            </tr>
            <% } %>
        </tbody>
    </table>   

    <form data-abide novalidate>
        <fieldset class="fieldset">
            <legend><h4>客户留言</h4></legend>
            <div class="row">
                <div class="small-12 columns">
                    <label>
                        <%= order.comment %>
                    </label>
                </div>
            </div>
        </fieldset>

        <% if(order.payType > 0) { %>
        <fieldset class="fieldset">
            <legend><h4>支付方式</h4></legend>
            <div class="row">
                <fieldset class="columns">
                    <label for="pokemonRed"><%= ORDER_PAY_TYPE_NAME_LIST[order.payType]%></label>
                </fieldset>
            </div>
        </fieldset>
        <% } %>
        <% if(order.payType == 2 && order.payComment.comment) { %>
        <fieldset class="fieldset">
            <legend><h4>线下转账信息</h4></legend>
            <div class="row">
                <div class="small-12 columns">
                    <label>
                        <%- nl2br(order.payComment.comment) %>
                    </label>
                </div>
            </div>
        </fieldset>
        <% } %>
        <% if(order.products[0].contractSnapshot.id) { %>
            <fieldset class="fieldset">
                <legend><h4>合同信息</h4></legend>
                <div class="row column">
                    <a data-open="contractPanel" onclick="return false;"><%= order.products[0].contractSnapshot.contract.title %></a>
                </div>
            </fieldset> 
        <% } %>
    <div class="row text-right cart-total">
        订单合计：￥<strong class="stat"><%= order.price %></strong>
    </div>
</div>

<% if(order.products[0].contractSnapshot.id) { %>
<div class="reveal large" id="contractPanel" data-reveal>
    <h3><%= order.products[0].contractSnapshot.contract.title %></h3>
    <div class="profile-main">
        <h6>合同内容</h6>
        <% for(var i in order.products[0].contractSnapshot.contract.content) { %>
            <% if (order.products[0].contractSnapshot.contract.content[i].type == "image" && order.products[0].contractSnapshot.contract.content[i].value){ %>
                <% if (order.products[0].contractSnapshot.contract.content[i].value.url){ %>
                    <% if (order.products[0].contractSnapshot.contract.content[i].value.link){ %>
                        <a href="<%= 'http://' + order.products[0].contractSnapshot.contract.content[i].value.link %>" class="image-link-"><img src="<%= imgHost + order.products[0].contractSnapshot.contract.content[i].value.url %>" /></a>
                    <% } else { %>
                        <img src="<%= imgHost + order.products[0].contractSnapshot.contract.content[i].value.url %>" />
                    <% } %>
                    
                <% } %>
            <% } else if (order.products[0].contractSnapshot.contract.content[i].type == "text" && order.products[0].contractSnapshot.contract.content[i].value) { %>
                <% if(order.products[0].contractSnapshot.contract.content[i].value.title != ''){ %>
                <h6<% if (order.products[0].contractSnapshot.contract.content[i].value.isAlert == "true") { %> class="alert"<% } %>><%= order.products[0].contractSnapshot.contract.content[i].value.title.replace(/ /g, '&nbsp;') %></h6>
                <% } %>
                <p<% if (order.products[0].contractSnapshot.contract.content[i].value.isAlert == "true") { %> class="alert"<% } %>><%- nl2br(order.products[0].contractSnapshot.contract.content[i].value.desc.replace(/ /g, '&nbsp;')) %></p>
            <% } %>
        <% } %>
    </div>
    <div class="row text-center form-submit-wrap">
        <button class="button" data-close id="saveAddress">关闭</button>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>
<script>
    var payType = '<%= payType %>'
    var orderId = <%= order.id %>
    var hubHost = '<%= hubHost %>'
</script>

<%- include('../layout/footer') -%>