<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="/">网站管理</a></li>
        <li>
            <span class="show-for-sr">Current: </span> 订单管理
        </li>
    </ul>
</nav>

<h1 class="row column">订单管理</h1>
<div id="ordersWrap">
<div class="row column">
    <table class="stack stack--small hover listCart tableList">
        <thead>
            <tr>
                <th width="150">订单ID</th>
                <th width="150">订单状态</th>
                <th width="150">支付方式</th>
                <th width="150">总价</th>
                <th width="150">买家ID</th>
                <th width="300">操作</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:orders">
            <tr>
                <td data-th="订单ID" data-bind="text:id"></td>
                <td data-th="订单状态" data-bind="text:status"></td>
                <td data-th="支付方式" data-bind="text:payment"></td>
                <td data-th="总价" data-bind="text:'￥' + total"></td>
                <td data-th="买家ID" data-bind="text:userid"></td>
                <td data-th="操作">
                    <a href="/orders/detail" class="button small">查看</a>
                    <a href="/orders/pay" class="button small" data-bind="visible:status=='等待支付'">确认支付</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="list-button row column">
    <a class="button large btnMore" data-bind="click:$root.more, visible:isnext" id="moreOrders">显示更多订单</a>
</div>
</div>
<script>
    var data = <%- JSON.stringify(data) %>;
	var isNext = <%= isNext %>;
	var pageNo = <%= pageNo %>;
    </script>  
  
<%- include('../layout/footer') -%>