<%- include('../layout/header') -%>
    <nav aria-label="You are here:" role="navigation" class="clearfix">
        <ul class="breadcrumbs onionLink">
            <li><a href="/">首页</a></li>
        </ul>
    </nav>
    <h1 class="row column user-margin"><%= title %></h1>
    <div data-abide-error class="alert callout" >
        <p><i class="fi-alert"></i><%= info %><a href="<%- typeof location !== 'undefined'? location: '/' %>">点击后将跳转</a></p>
    </div>
<%- include('../layout/footer') -%>