<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="/">首页</a></li>
        <li>
            <span class="show-for-sr">Current: </span>项目详情
        </li>
    </ul>
</nav>
<h1 class="row pageHeader"><%= project.name %></h1>
<div class="expanded row detail-top">
    <div class="large-6 medium-12 columns">
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul>
                    <% for(let slide of project.slides) { %>
                    <li><img src="<%= imgHost + slide %>" /></li>
                    <% } %>
                </ul>
            </div>
            <a href="#" class="jcarousel-control-prev material-icons mi-keyboard_arrow_left"></a>
            <a href="#" class="jcarousel-control-next right material-icons mi-keyboard_arrow_right"></a>
        </div>
    </div>
    <div class="large-6 medium-12 columns">
        <div class="clearfix detailPrice">
            <div class="small-6 large-6 medium-6 columns">
                <label>金额</label>￥<b class="stat" id="priceStat"><%= project.prices.length > 0 ? project.prices[0].price : '' %></b>
            </div>
            <div class="small-6 large-6 medium-6 columns">
                <label>申请人数</label><b class="stat"><%= project.applyCount %></b>
            </div>
            <div class="filter-bar filter-bar--sku" id="skuBar">
                <div class="button-group single" id="priceLabels">
                    <% for(let i in project.prices) { %>
                    <a class="button<%= i == 0 ? ' checked' : '' %>" data-price="<%= project.prices[i].price %>"><%= project.prices[i].title %></a>
                    <% } %>
                </div>
            </div>
            <div class="small-12 small-centered large-uncentered clearfix button-book">
                <% if(typeof user !== 'undefined' && project.isPublish() && project.prices && project.prices.length) { %>
                <button class="expanded large button" data-open="cartAlert" id="submit">申请合作</button>
                <% } %>
            </div>
        </div>
        <p class="detailFeature"><%- nl2br(project.feature) %></p>
    </div>
</div>
<div class="precautions-outer row column">
    <div class="profile-main">
    <% for(var i = 0; i < project.description.length; i++) { %>
        <% if (project.description[i].type == "image" && project.description[i].value){ %>
            <% if (project.description[i].value.url){ %>
                <img src="<%= imgHost + project.description[i].value.url %>" />
            <% } %>
        <% } else if (project.description[i].type == "text" && project.description[i].value) { %>
            <% if(project.description[i].value.title != ''){ %>
            <h6<% if (project.description[i].value.isAlert == "true") { %> class="alert"<% } %>><%= project.description[i].value.title.replace(/ /g, '&nbsp;') %></h6>
            <% } %>
            <p<% if (project.description[i].value.isAlert == "true") { %> class="alert"<% } %>><%- nl2br(project.description[i].value.desc.replace(/ /g, '&nbsp;')) %></p>
        <% } %>
    <% } %>
    </div>
</div>
<script>
    var id = <%= project.id %>;
</script>
<%- include('../layout/footer') -%>