<%- include('../layout/header') -%>
<style>
.rulesOptions {
  display:inline-block;
  padding:0 5px 0 0;
  margin-right:25px;
  height:50px;
  line-height:50px;
}
</style>
  <nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
      <li><a href="/">首页</a></li>
      <li>
        <span class="show-for-sr">Current: </span> 提交申请
      </li>
    </ul>
  </nav>

  <h1 class="row column">提交申请</h1>

  <div class="row column blk-margin">
    <div class="callout">
      <p>
        (ID)名称：<a target="_blank" data-bind="attr: {href: '/projects/' + project.id}"><span data-bind="text: '(' + project.id + ')' + project.name"></span></a> 规格:<span data-bind="text: title"></span>; 金额:<span data-bind="text: price"></span>
      </p>
    </div>
  </div>

  <div class="row column">
    <form data-abide novalidate id="formGood">
      <fieldset class="fieldset">
        <legend>
          <h4>申请用户信息</h4>
        </legend>
        <div class="row">
          <div class="medium-6 columns">
            <label>
                        姓名
                        <input type="text" id="realName" required value="">
                        <input type="hidden" id="projectId" name="projectId" data-bind="value: project.id" />
                        <input type="hidden" id="priceIndex" name="priceIndex" data-bind="value: priceIndex" />
                        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrf %>" />
                    </label>
          </div>
          <div class="medium-6 columns">
            <label>
                        联系电话
                        <input type="text" id="contactPhone" required value="" pattern="number">
                    </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <label>
                        公司名称
                        <input type="text" id="companyName" value="">        
                    </label>
          </div>
          <div class="medium-6 columns">
            <label>
                        公司地址
                        <input type="text" id="companyAddress" value="">
                    </label>
          </div>
        </div>
      </fieldset>

      <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i> 请填写完整用户信息</p>
      </div>
      <fieldset class="fieldset" id="fieldAddress">
        <legend>
          <h4>申请信息</h4>
        </legend>
        <div class="row" data-bind="visible: haveRules, foreach: rules">
          <div class="medium-12 columns">
          <div>
              <span data-bind="text: data.name"></span>
              <div data-bind="if: type === '<%= PROJECT_APPLICATION_RULE_TEXT %>'">
                <input type="text" data-bind="attr: {name: type + $index()}" required>
              </div>
              <div data-bind="if: type === '<%= PROJECT_APPLICATION_RULE_CHECKBOX %>'">
                <div data-bind="foreach: data.options">
                  <label class="rulesOptions">
                    <input type="checkbox" data-bind="attr: { name: $parent.type + $parentContext.$index() }, value: $index() " data-validator="check_limit">
                    <span data-bind="text: name"></span>
                  </label>
                </div>
              </div>
              <div data-bind="if: type === '<%= PROJECT_APPLICATION_RULE_RADIO %>'">
                <div data-bind="foreach: data.options">
                  <label class="rulesOptions">
                    <input type="radio" data-bind="attr: { name: $parent.type + $parentContext.$index() }, value: $index() " required>
                    <span data-bind="text: name"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-bind="visible: haveNoRules">
        <textarea rows="5" id="information" placeholder="申请说明"></textarea>
        </div>
        <label>上传文件仅支持rar, zip, pdf, word格式，文件大小不超过50M，最多5个文件。</label>
        <div class="dropzone dropzone-single" id="attachmentUploader"></div>
      </fieldset>
    </form>
  </div>

  <div class="row text-center form-submit-wrap blk-margin" id="formButton">
    <button data-bind="disable: submit" class="button large blk-margin blk-margin-bottom" id="saveGood">确认并提交申请</button>
  </div>

  <script>
    var project = <%- JSON.stringify(project)%>;
    var priceIndex = <%- JSON.stringify(priceIndex)%>;
    var imgHost = '<%- imgHost %>';
    var imgUploadUrl = '<%- imgUploadUrl %>';
    var PROJECT_APPLICATION_RULE_TEXT = '<%- PROJECT_APPLICATION_RULE_TEXT %>';
    var PROJECT_APPLICATION_RULE_CHECKBOX = '<%- PROJECT_APPLICATION_RULE_CHECKBOX %>';
    var PROJECT_APPLICATION_RULE_RADIO = '<%- PROJECT_APPLICATION_RULE_RADIO %>';
  </script>
  <%- include('../layout/footer') -%>