<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="/">首页</a></li>
        <li>
            <span class="show-for-sr">Current: </span> 用户中心 - 关系信息
        </li>
    </ul>
</nav>

<h1 class="row column user-margin">关系信息</h1>

<div class="row column">
    <h3>我的父关联人</h2>
    <p><%= relationship.parent? (relationship.parent.nickName? relationship.parent.nickName: relationship.parent.userName): 'chloroplast' %></p>

    <h3>我的子关联人，总数<%= relationship.childrenCount %>人，显示最新的50人</h2>
    
    	<div class="row small-up-1 medium-up-2 large-up-4" data-equalizer data-equalize-by-row="true">
    	<% if(relationship.children){ %>
	    	<% for(let i in relationship.children) { %>
	    		<p class="column" data-equalizer-watch><%= relationship.children[i].nickName? relationship.children[i].nickName: relationship.children[i].userName%></p>
	    	<% } %>
    	<% } else { %>

    	<% } %>
    	</div>

    
</div>

<%- include('../layout/footer') -%>