    <footer class="footer-global">
        <div class="helpWay clearfix">
            <div class="row">
                <% if (typeof shopInfo !== 'undefined' && shopInfo.contactPeoplePhone) { %>
                <div class="medium-6 columns"><a href="tel:<%= shopInfo.contactPeoplePhone %>"><i class="material-icons mi-call"></i> <b><%= shopInfo.contactPeoplePhone %></b></a></div>
                <% } %>
                <% if (typeof shopInfo !== 'undefined' && shopInfo.contactPeopleQQ) { %>
                <div class="medium-6 columns"><a data-toggle="qr-dropdown"><i class="material-icons">&#xE0B7;</i> 微信客服</a></div>
                <% } %>
            </div>
        </div>
        <% if (typeof shopInfo !== 'undefined' && shopInfo.contactPeopleQQ) { %>
        <div class="dropdown-pane top dropdown-pane-lang" id="qr-dropdown" data-dropdown data-close-on-click="true">
                <img src="<%= shopInfo.contactPeopleQQ %>">
        </div>
        <% } %>
        
        <div class="text blk-margin">
            <% if (typeof shopInfo !== 'undefined' && shopInfo.officialQRCode) { %><img src="<%= shopInfo.officialQRCode %>"><% } %><br><br>
            2016 &copy; <%= typeof shopInfo !== 'undefined'? shopInfo.copyright: '' %> 
            <br />Power by <a href="http://www.yundianshang.cc">www.yundianshang.cc</a>
        </div>
    </footer>

    <script src="/js/pages/commons.js"></script> 
    <% if (typeof pageJs != "undefined" && pageJs) { %>
    <script src="<%= pageJs %>"></script>
    <% } %>
    <% if(shopInfo.id === '10021') { %>
        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?a75e1fef8364d40464550f7c3454c257";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
        </script>
    <% } %>
</body>
