<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= typeof title !== 'undefined'? title: ''%></title>
        <meta name="description" content="<%= typeof title !== 'undefined'? title: ''%>" />
        <link rel="icon" href="/img/sa_logo.png" type="image/x-icon" />
        <% if(typeof shopInfo !== 'undefined' &&  shopInfo.theme === 'garden') { %>
            <link rel="stylesheet" href="/css/appFall.css" />
        <% } else { %>
            <link rel="stylesheet" href="/css/app.css?20161202" />
            <link rel="stylesheet" href="/css/appfix.css?20161031" />
        <% } %>
        <% if(__IN_WECHAT__ && shopInfo.shopInfo) { %>
            <%- include('../common/wechatRelationship') -%>
        <% } %>
    </head>
    <body>
        <header class="top-bar <% if(typeof shopInfo !== 'undefined' &&  shopInfo.theme === 'garden'){ %> top-bar--garden<% } %>" id="headerGlobal">
            <div class="top-bar-title">
                <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="menu-icon-wrap">
                    <span class="menu-icon" data-toggle></span>
                </span>
                <strong><a href="/"><img src="<%= typeof shopInfo !== 'undefined'?  shopInfo.logo: '' %>" class="saLogo" /></a></strong>
                <div class="top-bar-fix">
                    <ul class="menu">
                        <li><input class="show-for-medium" type="search" placeholder="Search Anything" id="topBarSearchInput"></li>
                        <li><button type="button" class="button material-icons mi-search" id="topBarSearch"></button></li>
                        <li data-toggle="userShortcuts"><a class="user"><i class="material-icons mi-account_circle"></i><b>欢迎</b><i class="material-icons mi-expand_more"></i></a></li>
                        <!--<li><a class="cart"><i class="material-icons mi-shopping_cart"></i><em></em></a></li>-->
                    </ul>
                </div>
            </div>
            <div class="dropdown-pane user-shortcuts-wrap" id="userShortcuts" data-dropdown>
                <% if(typeof user === 'undefined') { %>
                <a href="<%= __AUTH_WECHAT_LINK__ %>">授权登录</a>
                <% } else if(typeof user !== 'undefined') { %>
                    <% if(shopInfo.relationship) { %>
                    <a href="/users/relationship">关联信息</a>
                    <% } %>
                    <a href="/orders">我的定单</a>
                    <a href="/applications">我的申请</a>
                <% } %>
            </div>
            <div id="responsive-menu" class="menu-body">
                <div class="top-bar-left top-bar-left--global">
                    <ul class="dropdown menu dropdownMenu--global" data-dropdown-menu>
                    <% if(typeof shopInfo !== 'undefined' &&  shopInfo.theme === 'garden') { %>
                        <% if(typeof _navigation !== 'undefined') { %>
                            <% for(const nav of _navigation) { %>
                                <% if(nav.type === 'cms') { %>
                                    <li><a href="/garden/articles %>"><%= nav.name %></a></li>
                                <% } else if(nav.type === 'product') { %>
                                    <li><a href="/garden/products/<%= nav.id %>"><%= nav.name %></a></li>
                                <% } else if(nav.type === 'project') { %>
                                    <li><a href="/garden/projects/<%= nav.id %>"><%= nav.name %></a></li>
                                <% } %>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <% if(typeof _navigation !== 'undefined') { %>
                            <% for(const i in _navigation) { %>
                            <li><a href="/channel/productTypes/<%= _navigation[i].id %>"><%= _navigation[i].name %></a></li>
                            <% } %>
                        <% } %>
                        <% if(typeof _projectTypes !== 'undefined') { %>
                            <% for(const i in _projectTypes) { %>
                            <li><a href="/channel/projectTypes/<%= _projectTypes[i].id %>"><%= _projectTypes[i].name %></a></li>
                            <% } %>
                        <% } %>
                        <% if(typeof _categories !== 'undefined') { %>
                            <% for(const i in _categories) { %>
                            <li><a href="/channel/categories/<%= _categories[i].id %>"><%= _categories[i].name %></a></li>
                            <% } %>
                        <% } %>
                    <% } %>
                    </ul>
                    
                </div>
            </div>
        </header>
        <div class="show-for-small-only small-header-margin-top"></div>