<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- typeof title !== 'undefined'? title: ''%></title>
        <meta name="description" content="<%- typeof title !== 'undefined'? title: ''%>" />
        <link rel="icon" href="/img/sa_logo.png" type="image/x-icon" />
        <% if(shopInfo.theme === 'garden') { %>
          <link rel="stylesheet" href="/css/appFall.css?20170621" />
        <% } else if(shopInfo.theme === 'blue') { %>
          <link rel="stylesheet" href="/css/appBlue.css?20170621" />
        <% } else if(shopInfo.theme === 'red') { %>
          <link rel="stylesheet" href="/css/appRed.css?20170621" />
        <% } else { %>
          <link rel="stylesheet" href="/css/appBlue.css?20170621" />
        <% } %>
        <link rel="stylesheet" href="/css/appfix.css?20170621" />
        <% if(__IN_WECHAT__ && shopInfo.relationship) { %>
            <%- include('../common/wechatRelationship') -%>
        <% } %>
    </head>
    <body>
        <header class="top-bar <% if(typeof shopInfo !== 'undefined' &&  shopInfo.theme === 'garden'){ %> top-bar--garden<% } %>" id="headerGlobal">
            <div class="top-bar-title">
                  <span data-hide-for="medium" id="responsive-menu-toggler" class="menu-icon-wrap">
                    <span data-toggle class="menu-icon-toggle"><span class="menu-icon"></span></span>
                  </span>
                <strong><a href="/"><img src="<%- typeof shopInfo !== 'undefined'?  shopInfo.logo: '' %>" class="saLogo" /></a></strong>
                <div class="top-bar-fix">
                    <ul class="menu">
                        <li><input value="<%- typeof searchKeyword !== 'undefined'? searchKeyword: '' %>" class="show-for-medium <%- typeof searchKeyword !== 'undefined'? 'even': '' %>" type="search" placeholder="输入你想要的" id="topBarSearchInput"></li>
                        <li><button type="button" class="<%- typeof searchKeyword !== 'undefined'? 'even': '' %> button material-icons mi-search" id="topBarSearch"></button></li>
                        <li data-toggle="userShortcuts">
                            <a class="user">
                            <% if(typeof user !== 'undefined' && typeof avatarImgHost !== 'undefined' && user.avatar) { %>
                              <i class="material-icons mi-account_circle user-login"><img src="<%- avatarImgHost + user.avatar %>" /></i>
                            <% } else { %>
                              <i class="material-icons mi-account_circle"></i>
                            <% } %>
                            <b>
                                欢迎<%- typeof user === 'undefined'? '':  
                                        ',&nbsp' + (user.nickName? user.nickName:
                                        user.userName)
                                    %>
                            </b>
                            <i class="material-icons mi-expand_more"></i>
                            </a>
                        </li>
                        <!--<li><a class="cart"><i class="material-icons mi-shopping_cart"></i><em></em></a></li>-->
                    </ul>
                </div>
            </div>

            <div class="dropdown-pane user-shortcuts-wrap" id="userShortcuts" data-dropdown>
                <% if(typeof user === 'undefined') { %>
                <a href="<%- __AUTH_WECHAT_LINK__ %>">微信登录</a>
                <% } else if(typeof user !== 'undefined') { %>
                    <% if(shopInfo.relationship) { %>
                    <a href="/users/relationship">关联信息</a>
                    <% } %>
                    <a href="/orders">我的定单</a>
                    <a href="/applications">我的申请</a>
                    <a href="/delivery-informations">地址管理</a>
                <% } %>
            </div>
            <div id="responsive-menu" class="menu-body">
                <div class="top-bar-left top-bar-left--global" id="nav-menu-wrap">
                    <ul class="dropdown menu dropdownMenu--global" data-dropdown-menu id="responsive-menu-ul">
                    <% if(typeof shopInfo !== 'undefined' &&  shopInfo.theme === 'garden') { %>
                        <% if(typeof _navigation !== 'undefined') { %>
                            <% for(const nav of _navigation) { %>
                                <% if(nav.type === 'cms') { %>
                                    <li><a target="_blank" href="/garden/articles %>"><%- nav.name %></a></li>
                                <% } else if(nav.type === 'product') { %>
                                    <li><a target="_blank" href="/garden/products/<%- nav.id %>"><%- nav.name %></a></li>
                                <% } else if(nav.type === 'project') { %>
                                    <li><a target="_blank" href="/garden/projects/<%- nav.id %>"><%- nav.name %></a></li>

                                <% } %>
                            <% } %>
                        <% } %>
                    <% } else if(typeof _navigation !== 'undefined') { %>
                        <% for(const nav of _navigation) { %>
                            <% if(nav.type === 'categories') { %>
                                <li><a target="_blank" href="/channel/categories/<%- nav.id %>"><%- nav.name %></a></li>
                            <% } else if(nav.type === 'articleChannel') { %>
                                <li><a target="_blank" href="/channel/navigation/articles/<%- nav.id %>"><%- nav.name %></a></li>
                            <% } else if(nav.type === 'projectChannel') { %>
                                <li><a target="_blank" href="/channel/navigation/projects/<%- nav.id %>"><%- nav.name %></a></li>

                            <% } %>
                        <% } %>
                    <% } else { %>
                        <% if(typeof _productTypes !== 'undefined') { %>
                            <% for(const i in _productTypes) { %>

                            <li><a target="_blank" href="/channel/productTypes/<%- _productTypes[i].id %>"><%- _productTypes[i].name %></a></li>

                            <% } %>
                        <% } %>
                        <% if(typeof _projectTypes !== 'undefined') { %>
                            <% for(const i in _projectTypes) { %>
                            <li><a target="_blank" href="/channel/projectTypes/<%- _projectTypes[i].id %>"><%- _projectTypes[i].name %></a></li>
                            <% } %>
                        <% } %>
                        <% if(typeof _categories !== 'undefined') { %>
                            <% for(const i in _categories) { %>

                            <li><a target="_blank" href="/channel/categories/<%- _categories[i].id %>"><%- _categories[i].name %></a></li>

                            <% } %>
                        <% } %>
                    <% } %>
                    </ul>
                </div>
            </div>
        </header>
        <div class="show-for-small-only small-header-margin-top"></div>