<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="/">首页</a></li>
        <!--<li><a href="/products/">商品列表</a></li>-->
        <li>
            <span class="show-for-sr">Current: </span>商品详情
        </li>
    </ul>
</nav>
<h1 class="row pageHeader"><%= product.name %></h1>
<div class="expanded row detail-top">
    <div class="large-6 medium-12 columns">
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul>
                    <% for(let slide of product.slides) { %>
                    <li><img src="<%= imgHost +  slide %>" /></li>
                    <% } %>
                </ul>
            </div>
            <a href="#" class="jcarousel-control-prev material-icons mi-keyboard_arrow_left"></a>
            <a href="#" class="jcarousel-control-next right material-icons mi-keyboard_arrow_right"></a>
        </div>
    </div>
    <div class="large-6 medium-12 columns">
        <div class="clearfix detailPrice">
            <div class="p-margin-bottom lbPrice">
                单价￥<b class="stat" id="priceStat"><%= product.prices.length > 0 ? product.prices[0].price : '' %></b>
            </div>
            <div class=" filter-bar filter-bar--sku" id="skuBar">
                <div class="button-group single" id="priceLabels">
                    <% for(let i in product.prices) { %>
                    <a class="button<%= i == 0 ? ' checked' : '' %>" data-price="<%= product.prices[i].price %>"><%= product.prices[i].title %></a>
                    <% } %>
                </div>
            </div>
            <div class="input-group p-margin-bottom input-group--quantity">
                <span class="input-group-label">数量</span> 
                <input type="number" class="input-group-field" min="1" value="1" id="orderNumber" />
            </div>
            <div class="small-12 small-centered large-uncentered clearfix button-book">
                <% if(subId === 10) { %>
                <button class="expanded large button" id="orderNow">立即订购</button>
                <% } %>
            </div>
        </div>
        <p class="detailFeature"><%- nl2br(product.feature) %></p>
    </div>
</div>

<div class="reveal tiny" id="cartAlert" data-reveal>
    <h3>加入购物车成功！</h3>
    <p>
        该商品已成功加入购物车。
    </p>
    <div class="row text-center form-submit-wrap">
        <button class="button" data-close>去购物车</button>
        <button class="button secondary" data-close>继续购物</button>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="precautions-outer row column">
    <h3>商品详情</h3>
    <div class="profile-main">
    <% for(var i = 0; i < product.description.length; i++) { %>
        <% if(product.description[i].type == "image"){ %>
        <img src="<%= imgHost + product.description[i].value.url %>" />
        <% } else if (product.description[i].type == "text") { %>
        <h6<% if (product.description[i].value.isAlert == "true") { %> class="alert"<% } %>><%= product.description[i].value.title %></h6>
        <p><%- nl2br(product.description[i].value.desc) %></p>
        <% } %>
    <% } %>
    </div>
</div>

<script>
	var id = <%= product.id %>
</script>
<%- include('../layout/footer') -%>