<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a>网站管理</a></li>
        <li><a href="/products">自有商品管理</a></li>
        <li>
            <span class="show-for-sr">Current: </span>自有商品价格管理
        </li>
    </ul>
</nav>

<h1 class="row column">自有商品价格管理</h1>

<div class="row column">
    <div class="callout primary">
        <p>(商品ID)名称 <a href="/products/<%= id %>">(<b><%= id %></b>)<%= name %>   
        </a></p>
    </div>
</div>

<div id="productPrices">
<div class="row column">
    <button class="button button-unstyle" id="addPrice">添加价格</button>
    <!--<button class="button button-unstyle" onclick="alert('该按钮在无价格条件下无效；先confirm，再alert上(下)架成功！')">上架或下架商品</button>-->
</div>

<div class="reveal small" id="pricePanel" data-reveal>
    <h3>添加/编辑价格</h3>

    <div class="row">
        <label>规格名称</label>
        <input type="text" id="skuTitle" required />
        <label>单价</label>
        <input type="number" id="skuPrice" required />
        <input type="hidden" id="skuIdx" />
    </div>
    <div class="row text-center form-submit-wrap">
        <button class="button" id="savePrice">保存</button>
        <button class="button secondary" data-close>取消</button>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row column">
    <table class="stack stack--small hover listCart tableList">
        <thead>
            <tr>
                <th>规格名称</th>
                <th>单价</th>
                <th width="300">操作</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:prices">
            <tr>
                <td data-th="规格名称" data-bind="text: title"></td>
                <td data-th="单价" data-bind="text: '￥' + price"></td>
                <td>
                    <button class="button small" data-bind="click: $root.edit">编辑</button>
                    <button class="button small" data-bind="click: $root.remove">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="list-button row column">
    <a class="button large btnMore" data-bind="click: update">保存价格</a>
</div>

</div>

<script>
    var data = <%- JSON.stringify(prices) %>;
    var goodId = <%= id %>;
</script>

<%- include('../layout/footer') -%>