<%- include('../layout/header') -%>
  <nav aria-label="您的位置:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
      <li><a href="/">首页</a></li>
      <li>
        <span class="show-for-sr">当前: </span> 地址管理
      </li>
    </ul>
  </nav>

  <h1 class="row column">我的地址簿</h1>

  <div class="row column">
    <button class="button button-unstyle" data-open="addRole">添加地址</button>
  </div>

  <!--添加地址模态框-->
  <div class="reveal small" id="addRole" data-reveal>
    <form data-abide novalidate id="addForm">
      <h3>添加地址</h3>

      <div class="row">
        <div class="medium-6 columns">
          <label>
            收货人姓名
            <input type="text" id="newConsignee" required>
        </label>
        </div>
        <div class="medium-6 columns">
          <label>
            联系电话
            <input type="text" id="newPhone" required>
        </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label class="autoSelect">
            <span>所在地区</span>
            <select id="newProvince"><option>请选择省</option></select>
            <select id="newCity"><option>请选择市</option></select>
            <select id="newDistrict"><option>请选择区</option></select>
        </label>
        </div>
        <div class="medium-6 columns">
          <label>
            邮政编码
            <input type="text" id="newPostalCode" required pattern="number">
            <span class="form-error">
                邮政编码无效
            </span>
        </label>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <label>
            详细地址
            <input type="text" id="newAddress" required>
            <span class="form-error">
                详细地址不能为空
            </span>
        </label>
        </div>
      </div>
      <div class="row text-center form-submit-wrap">
        <button class="button" id="submit_add" data-bind="click: $root.add">保存</button>
        <button class="button secondary" data-close>取消</button>
      </div>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    </form>
  </div>

  <!--编辑地址模态框-->
  <div class="reveal small" id="editRole" data-reveal>
    <form data-abide novalidate id="editForm">
      <h3>编辑地址</h3>

      <div class="row">
        <input type="hidden" id="editId">
        <div class="medium-6 columns">
          <label>
            收货人姓名
            <input type="text" id="editConsignee" required>
        </label>
        </div>
        <div class="medium-6 columns">
          <label>
            联系电话
            <input type="text" id="editPhone" required>
        </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label class="autoSelect">
            <span>所在地区</span>
            <select id="editProvince"><option>请选择省</option></select>
            <select id="editCity"><option>请选择市</option></select>
            <select id="editDistrict"><option>请选择区</option></select>
        </label>
        </div>
        <div class="medium-6 columns">
          <label>
            邮政编码
            <input type="text" id="editPostalCode" required pattern="number">
            <span class="form-error">
                邮政编码无效
            </span>
        </label>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <label>
            详细地址
            <input type="text" id="editAddress" required>
            <span class="form-error">
                详细地址不能为空
            </span>
        </label>
        </div>
      </div>
      <div class="row text-center form-submit-wrap">
        <button class="button" id="submit_edit" data-bind="click: $root.save">保存</button>
        <button class="button secondary" data-close>取消</button>
      </div>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    </form>
  </div>

  <div class="row column">
    <table class="stack stack--small hover listCart tableList">
      <thead>
        <tr>
          <th>收货人姓名</th>
          <th>联系电话</th>
          <th>邮政编码</th>
          <th>详细地址</th>
          <th width="300">操作</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: deliveryInformations">
        <tr>
          <td data-th="收货人姓名" data-bind="text: consignee"></td>
          <td data-th="联系电话" data-bind="text: phone"></td>
          <td data-th="邮政编码" data-bind="text: postalCode"></td>
          <td data-th="详细地址" data-bind="text: province + '-' + city + '-' + district + '<br />' + address"></td>
          <td>
            <button class="button small" data-bind="click: $root.edit">编辑</button>
            <button class="button small" data-bind="click: $root.remove">删除</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <div class="list-button row column">
    <button class="button large btnMore" data-bind="click: more, visible: isNext()">加载更多</button>
  </div>
  <script>
    var deliveryInformations = <%- JSON.stringify(deliveryInformations) %>;
    var pageNumber = <%= number %>;
    var isNext = <%= isNext %>;
  </script>

  <%- include('../layout/footer') -%>